@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.otf');
    font-weight: 500;
    font-style: normal;
}