$black: #15161a;
$pink: #e01d51;

%gotham-black {
    font-family: 'Gotham-Black';
    font-weight: 900;
}

%gotham-bold {
    font-family: 'Gotham-Bold';
    font-weight: 700;
}

%gotham-medium {
    font-family: 'Gotham-Medium';
    font-weight: 500;
}
